{{ define "main" }}
<main>
  {{/* Navbar */}}
  {{ if not .Params.subscribe }}
    {{ partial "navbar.html" }}
  {{ else }}
    {{ partial "hero.html" }}
    {{ partial "newsletter.html" }}
  {{ end }}


<div class="container mt-5" style="max-width: 1100px;">

<h1>Latest news</h1>

<!-- Recent Articles Grid -->
<div class="mb-5">
  <div class="row g-4 row-cols-1 row-cols-md-12">
    {{ range first 50 (where .Site.RegularPages "Type" "articles") }}
    <div class="col">
      <article class="card h-100 shadow-sm border-0 overflow-hidden">
        {{ with .Resources.GetMatch .Params.featured_image }}
        <img
          src="{{ .RelPermalink }}"
          alt="{{ $.Title }}"
          class="card-img-top"
          style="height: 12rem; object-fit: cover; padding:5px"
        >
        {{ end }}
        <a href="{{ .RelPermalink }}">
        <div class="card-body p-4">
          <div class="d-flex flex-wrap gap-2 mb-0 pb-0">
            {{ with .Params.categories }}
              {{ range first 1 . }}
              <a
                href="/categories/{{ . | urlize }}"
                class="badge rounded-pill text-bg-primary bg-opacity-10 text-primary text-decoration-none px-2 py-1"
                style="font-size: .75rem;"
              >{{ . }}</a>
              {{ end }}
            {{ end }}
          </div>
          <span class="text-muted small mb-3">{{ .Date.Format "Jan 2" }}</span>

          <h3 class="h5 fw-bold mb-2">
            <b class="text-body text-decoration-none link-primary-hover">
              {{ .Title }}
            </b>
          </h3>

          <p class="text-secondary small mb-0">
            {{ .Description | default (.Summary | truncate 120) }}
          </p>
        </div></a>
      </article>
    </div>
    {{ end }}
  </div>
</div>

{{ end }}
