<div class="container" style="max-width: 1100px;">

    <hr />
    <div class="row g-5 py-4 text-center">
        <div class="col-12 col-md-4"><img src="/images/logos/epfl_ai_center_black.avif"></div>
        <div class="col-12 col-md-4"><img src="/images/logos/eth_ai_center_logo.avif"></div>
        <div class="col-12 col-md-4"><img src="/images/logos/cscs-logo.svg"></div>
    </div>

    <div class="row g-5 py-4 text-center">
        <div class="col-12">
            <p><a href="https://www.swisscom.ch/en/business/enterprise/offer/platforms-applications/data-driven-business/swiss-ai-platform.html">Swisscom</a> is a Strategic Partner of the
                <a href="https://www.swiss-ai.org/" target="_blank">Swiss AI Initiative</a>.</p>
            <p><a href="https://www.swisscom.ch/en/business/enterprise/offer/platforms-applications/data-driven-business/swiss-ai-platform.html" target="_blank"><img src="/images/logos/swisscom-horizontal-logo.avif" alt="Swisscom Logo" style="object-fit:cover" width="200"></a></p>
        </div>
    </div>
</div>
